@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
:root{
    /* ? Paleta de Cores */
    --color01: #2C3036ff;
    --color02: #3C4B61ff;
    --color03: #3E6094ff;
    --color04: #2C6AC7ff;
    --color05: #0567FAff;
    /* ! Fontes */
    --rubik: 'Rubik', Arial, sans-serif, system-ui;
    --hind: 'Hind', Arial, sans-serif, system-ui;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
    background-image: url('../img/interface.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
.naoSelecionavel /* Não selecionar texto */{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ! Conteúdo */
main{
    min-width: 200px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: auto;
    color: white;
}
.content > h1{
    font-family: var(--rubik);
    font-weight: 500;
    font-size: 4em;
    text-shadow: 10px 0 30px rgba(36, 32, 56, 0.5);
}
.content > p{
    margin: 0 0 20px 0;
    font-family: var(--rubik);
    font-weight: 300;
    text-shadow: 5px 2px 10px rgba(36, 32, 56, 0.5);
}
.button{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.btn{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgb(52, 38, 175);
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(36, 32, 56, 0.5);
    padding: 5px 40px;
    transition: 0.5s;
}
/* Conteúdo modal */
.sign{
    position: absolute;
    cursor: pointer;
    color: white;
    transition: transform 1s;
}
.janela-modal{
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    overflow-y: scroll;
    transition: 1s;
    position: fixed;
    visibility: hidden;
}
.janela-modal.abrir{
    transform: translateX(0); /* ! Deixar 0*/
    visibility: visible; /* ! Deixar VISIBLE*/
}
.janela-modal .sign{
    display: flex;
    visibility: visible;
}
.janela-modal.abrir .sign{
    display: none;
}
.janela-modal h1, .janela-modal h2{
    font-family: var(--hind);
    text-align: center;
    font-weight: 600;
}
.janela-modal .modal > h1:not(:first-child){
    border-top: 2px solid black;
    padding-top: 10px;
}
.modal{
    position: absolute;
    right: 0;
    color: black;
    background-color: rgba(155, 155, 255, 0.3);
    backdrop-filter: blur(10px);
}
.modal .apresentacao{
    align-items: center;
    display: grid;
}
.modal .apresentacao #imagem{
    grid-area: imagem;
}
.modal .apresentacao img, .modal .orientadores img{
    border-radius: 50%;
}
.modal .apresentacao #nome{
    grid-area: nome;
}
.modal .apresentacao #cargo ul{
    font-family: var(--rubik);
    font-weight: 400;
}
.modal .apresentacao #redes{
    grid-area: redes;
    padding: 15px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.modal .apresentacao .rede a{
    color: black;
    display: inline-block;
}
.modal .orientadores{
    display: grid;
    grid-template-areas:
        'imagem imagem'
        'nome nome';
}
.modal .fechar{
    position: fixed;
    cursor: pointer;
    font-size: 2.5em;
}
/* ? Pc, Notebook, Tablet */
@media screen and (min-width: 768px){
    /* Predefinições iniciais */
    .btn:hover{
        transform: scale(1.05) translateY(-1.5px);
        background-color: rgb(90, 83, 192);
        box-shadow: 0 0 30px rgba(36, 32, 56, 0.7);
    }
    .btn:active{
        transform: translateY(0);
        background-color: rgb(90, 83, 179);
        box-shadow: 0 0 15px rgba(36, 32, 56, 0.5);
    }
    #sign-2{
        display: none;
    }
    #fechar-2{
        display: none;
    }
    /* MODAL */
    .sign{
        top: 45%;
        right: 0;
        font-size: 5em;
    }
    .janela-modal{
        display: flex;
        transform: translateX(100%); /* ! Deixar 100%*/
    }
    .modal{
        width: 550px;
        padding: 50px 20px;
        min-width: 450px;
    }
    .modal .apresentacao{
        grid-template-columns: 64px;
        grid-template-areas:
            'imagem nome'
            'cargo cargo'
            'redes redes';
    }
    .modal .apresentacao img{
        height: 64px;
        width: 64px;
    }
    .modal .apresentacao #cargo{
        grid-area: cargo;
    }
    .modal .apresentacao #cargo ul{
        padding: 5px 50px;
    }
    .modal .apresentacao #redes .rede{
        width: 33%;
    }
    .modal .apresentacao .rede a{
        transition: 0.5s;
        font-size: 2em;
    }
    .modal .apresentacao .rede a:hover{
        transform: scale(1.2) translateY(-2px);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    .modal .orientadores #imagem{
        text-align: center;
    }
    .modal .orientadores img{
        height: 80px;
        width: 80px;
    }
    .modal .fechar{
        text-align: center;
        width: 96%;
        margin: auto;
    }
}
/* ? Celulares */
@media screen and (max-width: 768px){
    /* Predefinições iniciais */
    #sign-1{
        display: none;
    }
    #fechar-1{
        display: none;
    }
    /* MODAL */
    .sign{
        top: 0;
        right: 45%;
        font-size: 3em;
    }
    .janela-modal{
        scrollbar-width: none;
        -ms-overflow-style: none;
        transform: translateY(-100%); /* ! Deixar -100% */
    }
    .janela-modal .fechar{
        position: fixed;
        font-size: 3em;
    }
    .janela-modal::-webkit-scrollbar{
        display: none;
    }
    .janela-modal .modal > h1:not(:first-child){
        margin: 10px 1em 0 1em;
    }
    .modal{
        width: 100vw;
        padding: 10px 0 50px 0;
        min-width: 350px;
    }
    .modal .apresentacao{
        grid-template-areas:
            'imagem'
            'nome'
            'redes'
            'cargo';
    }
    .modal .apresentacao #imagem{
        text-align: center;
    }
    .modal .apresentacao img{
        height: 128px;
        width: 128px;
    }
    .modal .apresentacao #nome h2{
        font-size: 1.4em;
    }
    .modal .apresentacao #cargo ul{
        text-align: center;
        list-style-type: none;
        padding: 10px;
        width: 27rem;
        margin: 5px auto;
        border: solid black;
        border-top: 10px;
        border-bottom: 10px;
    }
    .modal .apresentacao #redes .rede{
        width: 25%;
    }
    .modal .apresentacao .rede a{
        font-size: 3em;
    }
    .modal .orientadores{
        justify-content: center;
        gap: 10px 30%;
    }
    .modal #orientador{
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        margin: 50px;
        padding-top: 10px;
        margin-top: 20px;
    }
    .modal .orientadores img{
        width: 128px;
        height: 128px;
    }
    .modal .fechar{
        left: 45%;
    }
    .modal .fechar#fechar-2{
        transform: rotate(0deg);
        transition: 0.5s;
    }
    .janela-modal.abrir #fechar-2{
        transition: 1s;
        transform: rotate(90deg);
    }
}