*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
:root{
    --color01: #000000;
    --color02: #030b40;
    --color03: #19288a;
    --color04: #33419c;
    --color05: #252733;
    --color06: #cacee6;
    --color07: #ffffff;
}
.notSelect /* Não selecionar texto */{ 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ! Menu */
@media (min-width: 768px){
    div#img .logo{
        content: url('../../img/3Safe-Logo.png');
    }
}
div.navigator{
    background-color: var(--color05);
}
div#img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#img #logo{
    margin: 16px 0 0 0;
}
div#img img.logo{
    height: 4.5em;
}
ul.nav{
    align-items: center;
}
nav#menu{
    width: 100%;
    justify-content: center;
    transition: top 0.3s ease-in-out;
}
.btn-group{
    align-items: center;
}
nav#menu button.sign{
    border: none;
    color: white;
    background-color: rgb(0, 0, 0, 0);
}
.nav-pills a{
    color: white;
}
.nav-pills .dropdown-menu.show li a{
    color: black;
}
.nav-pills .nav-item:not(:first-child) .nav-link{
    padding-right: 5px;
}
.nav-pills .nav-link.active{
    background-color: rgb(0, 0, 0, 0);
    color: var(--color04);
}
/* ! Primeira área */
main .materia{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    align-items: center;
}
main .materia > article{
    display: inline-block;
    max-width: 740px;
    padding: 20px 0;
}
main .materia #front-end-text abbr{
    cursor: default;
    font-weight: 600;
}
main .materia .btn{
    color: var(--color07);
    background-color: var(--color03);
}
main .materia .btn:hover{
    background-color: var(--color04);
}
main .materia .btn:active{
    color: rgb(156, 156, 156);
    border: 1px solid var(--color01);
    background-color: #393c7f;
}
main .materia .profissional{
    margin: 50px 0;
    width: 1005px;
    background-color: rgba(255, 255, 255, 0.05);
}
main .materia .profissional img{
    width: 90%;
}
main .materia > article > a{
    display: block;
    width: 197px;
    padding: 15px;
    margin: auto;
    background-color: grey;
    text-decoration: none;
}
main .materia > article > a:hover{
    background-color: rgb(169, 169, 169);
}
/* ! Segunda área */
.conteudo{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.conteudo .FAQ{
    display: flex;
    color: var(--color01);
    font-weight: 400;
}
.conteudo .left, .conteudo .right{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
    padding: 0 10px;
}
.conteudo .right{
    gap: 5%;
}
.conteudo .right p{
    font-weight: 400;
    width: 90%;
}
.conteudo .faq_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo .faq_text p{
    font-weight: 400;
    width: 300px;
    text-align: center;
}
.conteudo .left{
    padding: 50px;
}
.conteudo .right{
    justify-content: center;
    align-items: center;
}
.conteudo .right h2{
    text-align: center;
}
.conteudo .right p abbr{
    cursor: default;
    font-weight: 600;
}
.accordion-button::after{
    background-image: url('../../img/plus-regular-24.png');
    transition: all 0.2s;
}
.accordion-button:not(.collapsed)::after{
    background-image: url('../../img/minus-regular-24.png');
}
/* ! Terceira área */
.job{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.job article p{
    text-align: center;
    width: 500px;
    font-size: 0.8em;
}
.job article h2{
    text-align: center;
}
.job .boxcard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 50px 30px;
}
.job .card{
    width: 18rem;
}
.job .card-img-top{
    height: 150px;
}
.job .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.job .card-body .card-title{
    text-align: center;
}
.job .card-body .card-text{
    text-align: justify;
    height: 143.89px;
}
.job .card-body .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 8px;
}
.job .card-body .price{
    background-color: var(--color03);
    color: white;
    width: 80%;
    text-align: center;
    border-radius: 8px 0;
    margin-bottom: 8px;
}
.job .card-body .price::before{
    content: 'R$ ';
    font-style: italic;
}
.job .card-body .link{
    color: var(--color04);
    text-decoration: none;
    font-weight: bold;
}
.job .card-body .link::after{
    content: ' \279C';
}
/* ! Rodapé */
div#footer{
    background-color: var(--color05);
}
div#footer.container{
    margin: 0;
    max-width: 100%;
    color: var(--color07);
}
div#footer ul{
    border-bottom: 1px solid var(--color07) !important;
}
div#footer ul li a{
    color: var(--color07);
    transition: 0.5s;
}
div#footer ul li a:hover{
    color: rgb(195, 195, 195);
}
div#footer ul li a:active{
    color: grey;
}
/* * Computador */
@media screen and (min-width:768px){
    .navigator .container-fluid, .navigator #abrir{
        display: none;
    }
    nav#menu.scrolled{
        position: fixed;
        background-color: #030b4090;
        backdrop-filter: blur(5px);
        top: 0;
        z-index: 999;
    }
    nav#menu.scrolled .sign{
        background-color: rgb(0, 0, 0, 0);
        color: white;
    }
    nav#menu.scrolled+main{
        margin-top: 90px;
    }
    .nav-pills a{
        background-color: none;
    }
    nav#menu.esconder {
        top: -75px; /* Altura do navegador */
    }
    #footer ul{
        display: none;
    }
    #footer p{
        margin: 1em 0;
    }
}
/* * Celular */
@media screen and (max-width:768px){
    /* ! Navegador */
    .navigator nav#menu{
        display: none !important;
    }
    abbr{
        text-decoration: none !important;
    }
    .navigator > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    .navigator .nav{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: normal;
    }
    .navigator .nav .btn-group{
        display: flex;
        flex-wrap: wrap;
    }
    .navigator .nav .btn-group .sign{
        background-color: rgb(0, 0, 0, 0);
    }
    .navigator ul.dropdown-menu.show{
        position: static !important;
        transform: none !important;
    }
    .navigator .dropdown-menu.show{
        flex-basis: 63.5%;
    }
    .navigator #d1{
        flex-basis: calc(63.5% + 72.14px);
    }
    .navigator .py-3{
        padding: 0 !important;
    }
    .navigator .sign{
        border: 0;
        background-color: var(--color01);
        color: var(--color07);
    }
    .navigator button#abrir{
        margin-top: 16px;
        padding: 0 10px;
        background-color: white;
        font-size: 2em;
    }
    .nav-pills .nav-link.active{
        color: blue;
        background-color: var(--color01);
    }
    /* ! Conteudo */
    .conteudo .FAQ{
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }
    .conteudo{
        padding: 0 10px;
    }
    .conteudo .left, .conteudo .right{
        width: 100%;
    }
    .conteudo .left{
        padding: 15px;
    }
    .conteudo .faq_text p{
        width: 80%;
    }
    main .materia article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .materia article p{
        width: 80%;
        text-align: justify;
    }
    .job article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .job article p{
        width: 80%;
    }
}